html {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

.center-container {
    background-color: #242424;
    margin: auto;
    width: 40%;
}

ul {
    list-style-type: none;
}

.list-item {
    display: grid;
    background-color: #5c5c5c;
    border: 1px solid #f2f2f2;
    margin: 2px;
    width: 80%;
    opacity: 0.8;
}

.list-item:hover {
    opacity: 1;
}

.list-icon {
    grid-column: 1;
    width: 50px;
}

.list-text {
    grid-column: 2;
    font-weight: 600;
    color: #ffffff;
    opacity: 1 !important;
}

#add-item-prompt {
    position: fixed;
    display: none;
    width: 60%;
    height: 80%;
    margin: auto;
    background-color: #292E33;
}